<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>Welcome from Starpath</title>
</head>
<body>
<P>Congratulations on creating your brand new account,${user.email}.</P>

<P>Please keep this email for your records, as it contains an important verification code that you may need should you
    ever
    encounter problems or forget your password.
</P>

<P>You can login to your account at http://tasq.starpathit.cloudbees.net/displayLogin</P>

Enjoy! </br>

The Smart Subscribe Team

Verification code: ${verificationCode}
</body>
</html>