#{extends 'main.html' /}
#{set title:'Login' /}
#{if flash.success}
<div class="modal show" id="myModal">
    <div class="modal-header">
        <a href="@{index()}" class="close" data-dismiss="modal">×</a>

        <h3>Success Message</h3>
    </div>
    <div class="modal-body">
        <div class="alert alert-success">
            <h4 class="alert-heading">Success!</h4>
            ${flash.success}
        </div>
    </div>
    <div class="modal-footer">
        <a href="@{index()}" class="btn btn-primary" data-dismiss="modal">Dismiss</a>
    </div>
</div>
#{/if}
<div class="container">
    #{form @login(), id:'formLogin'}
    <legend>Login</legend>
    <legend>No account yet? <a class="btn btn-large btn-info" href="@{Application.register()}">
        Create an Account</a></legend>
    <div class="control-group">
        <label class="control-label">Email</label>

        <div class="controls">
            <input type="text" class="input-xlarge" name="email" value="">
            <span class="error">${errors.forKey('contact.email')}</span>

        </div>
    </div>
    <div class="control-group">
        <label class="control-label">Password</label>

        <div class="controls">
            <input type="password" class="input-xlarge" name="password" value="">
            <span class="error">${errors.forKey('contact.password')}</span>

        </div>
    </div>
    <a href="@{Application.forgotPassword()}" class="label label-important">forgot password?</a>

    <div class="form-actions">
        <button type="submit" class="btn btn-info" id="login">Login</button>
        <a href="@{Application.index()}" class="btn">Cancel</a>
    </div>
    #{/form}
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script src="/twitter-bootstrap/twitter-bootstrap-v2/js/bootstrap-modal.js"></script>

<div id="fb-root"></div>


<!--
  Below we include the Login Button social plugin. This button uses the JavaScript SDK to
  present a graphical Login button that triggers the FB.login() function when clicked.

  Learn more about options for the login button plugin:
  /docs/reference/plugins/login/ -->

<fb:login-button show-faces="false" width="200" max-rows="1"></fb:login-button>

