#{extends 'main.html' /}
#{set title:'Forgot Password' /}
<legend>Recover Password</legend>

<div class="container">
    #{form @sendForgotPasswordEmail(), id:'forgotPassword'}
    <div class="control-group">
        <label class="control-label">Email</label>

        <div class="controls">
            <input type="text" class="input-xlarge" name="email" value="">
            <span class="error">${errors.forKey('user.email')}</span>

        </div>
    </div>
    <div class="form-actions">
        <button type="submit" class="btn btn-primary" id="forgot">Send me instructions</button>
        <a href="@{Application.index()}" class="btn">Cancel</a>
    </div>
    #{/form}
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script src="/twitter-bootstrap/twitter-bootstrap-v2/js/bootstrap-modal.js"></script>

